html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
header,
section,
footer,
article,
details {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}


/* Basic styles, change according to your style */

#start-page,
#lose-page,
#learn-page,
#solve-page {
    height: 90vh;
    width: 80vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    overflow: hidden;
}

#start-page {
    background-color: black;
}

#lose-page {
    background-color: darkgrey;
}

#learn-page,
#solve-page,
#lose-page {
    display: none;
}

.box-title-intro {
    transform: translateY(-5%);
    color:white
}


#video-intro {
    max-width: 50vw;
    max-height: 50vh;
    margin-top: 9vh;
    transition: transform .1555s ease;
    transform: scale(1.5);
    
}

.background-animation {
    animation: scroll 70s linear infinite;
    background: ur
    color: #eee;
    height: 100vh;
    min-width: 360px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    
  }
  
  @keyframes scroll {
     100%{
      background-position:0px -3000px;
    }
  }
  
  @media (prefers-reduced-motion) {
    .background-animation {
      animation: scroll 200s linear infinite;
    }
  }


.maps {
    margin: 100px auto;
    max-width: 960px;
    width: 100%;
}

.map-picture {
    overflow: hidden;
    width: 75%;
    border: 5px solid #FFF;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.map-picture img {
    width: 100%;
    transform-origin: 65% 75%;
    transition: transform 4s, filter .5s ease-out;
}

#country-picture {
    width: 20%;
}

.counter-zone {
    display: flex;
    justify-content: center;
}

.countdown {
    width: 200px;
    height: 50px;
    background-color: bisque;
}


/* Auxiliar classes */

.hidden {
    display: none;
}

.shown {
    display: flex;
}


/* ------- Maps ---------- */

.map-screen {
    background-color: red;
}

.europe-map {
    background-color: aqua;
}


/* Basic styles, change according to your style */

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    padding: 1vw 3vh;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 4rem;
}

button#start {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin: 4vh auto 2vh;
}



button#start:hover {
    background-color: black;
    color: whitesmoke;
}

button#skip {
    width: 200px;
    height: 50px;
}