html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
header,
section,
footer,
article,
details {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}


/* Basic styles, change according to your style */

#start-page,
#lose-page,
#europe-page,
#europe-page-noname {
    height: 700px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

#start-page {
    background-color: darkkhaki;
}

#lose-page {
    background-color: darkgrey;
}

#europe-page, #europe-page-noname, #lose-page {
    display: none;
}

.maps {
    margin:100px auto; 
    max-width:960px;
    width:100%;
}

.map-picture {
    overflow: hidden;
    width: 75%;
    border: 5px solid #FFF;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
   
}
.map-picture img {
    width:100%;
    transform-origin: 65% 75%;
    transition: transform 4s, filter .5s ease-out;
}
.map-picture img:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform:scale(2.5); 
    cursor: zoom-in;
    
}

.counter-zone {
    display: flex;
    justify-content: center;
    
}

.countdown {
    width: 200px;
    height: 50px;
    background-color: bisque;
}
/* Auxiliar classes */

.hidden {
    display: none;
}

.shown {
    display: flex;
}


/* ------- Maps ---------- */

.map-screen {
    background-color: red;

}

.europe-map {
    background-color: aqua;
}


/* Basic styles, change according to your style */

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    padding: 1vw 3vh;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 4rem;
}

button#start {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin: 4vh auto 2vh;
}

button#start:hover {
    background-color: black;
    color: whitesmoke;
}

button#skip {
    width: 200px;
    height: 50px;
}