* {
  margin: 0;
  padding: 0;
}

/* Basic styles, change according to your style */

#start-page,
#lose-page,
#europe-map {
  height: 900px;
  width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

#start-page {
  background-color: darkkhaki;
}

#lose-page {
  background-color: darkgrey;
}

#europe-page {
  background-color: aqua;
  display: none;
}

#lose-page {
  display: none;
}

canvas {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

/* Auxiliar classes */

.hidden {
  display: none;
}

.shown {
  display: flex;
}

/* Basic styles, change according to your style */

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  padding: 1vw 3vh;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 4rem;
}


button {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  margin: 4vh auto 2vh;
}

button:hover {
  background-color: black;
  color: whitesmoke;
}
